@import '../../../scss/variables';
@import '../../../scss/mixins';

.student-update-account-section {
    width: 100%;
    @include flex-setup($flex-flow: column);
    margin-top: var(--margin-large);

    @media screen and (max-width: $bp-large) {
        width: 100%;
    }

    .student-update-account-heading-wrapper {
        margin-bottom: var(--margin-medium);
    }

    .student-update-wrapper {
        width: 100%;
        
        .dashboard-account-update-form{
            width: 100%;
            @include flex-setup($flex-flow: column, $align-items: center, $justify-content: flex-start);
    
            .form-group {
                flex: 1;
                width: 100%;
                @include flex-setup($flex-flow: column, $align-items: flex-start, $justify-content: flex-start);
                margin-bottom: var(--margin-medium);

                .form-group-label {
                    margin-bottom: 1.5rem;
                }

                .input-wrapper {
                    position: relative;
                    width: 100%;
    
                    .show-password-button {
                        position: absolute;
                        top: 0;
                        right: 0;
                        height: 100%;
                        width: auto;
                        @include flex-setup($align-items: center, $justify-content: center);
                        padding: 0 2.5rem;
                        background-color: transparent;
                    }
                }

                .form-group-input {
                    width: 100%;
                    padding: 2.5rem;
                    border: 0.1rem solid $primary-dark-gray-2; 
                    transition: var(--hover-transition);

                    &::-webkit-calendar-picker-indicator {
                        filter: invert(1);
                    }

                    &:hover,
                    &:focus {
                        border-color: $primary-light-gray-1;
                    }
                }
            }
        }
    }
}

