@import '../../../scss/variables';
@import '../../../scss/mixins';

.error-banner {
    position: relative;
    width: 100%;
    min-height: 50rem;
    padding: 0 12rem;
    overflow: hidden;

    @media screen and (max-width: $bp-large) {
        padding: 0 10rem;
    }

    @media screen and (max-width: $bp-medium) {
        padding: 0 9rem;
    }

    @media screen and (max-width: $bp-small) {
        padding: 0
    }

    @media screen and (max-width: $bp-mobile) {
        padding: 0 4rem;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width:100%;
        height: 0.15rem;
        background-color: $primary-dark-gray-2;
    }

    &-content {
        width: 100%;
        min-height: 50rem;
        @include flex-setup($flex-flow: column, $align-items: center, $justify-content: center);
        padding-top: 20rem;

        .heading-two {
            margin-bottom: var(--margin-small);
            text-transform: uppercase;
            font-weight: 900;
        }

        .paragraph-showcase {
            @include flex-setup($flex-flow: row, $align-items: center, $justify-content: center);
            flex-wrap: wrap;
            margin-bottom: var(--margin-small);
            text-align: center;

            .error-banner-link {
                position: relative;
                margin: 0 1rem;
                display: inline !important;

                .label {
                    font-size: 2.2rem;
                    font-weight: 400;

                    @media screen and (max-width: $bp-medium) {
                        font-size: 1.8rem;
                    }
                }

                &::before,
                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    width: 100%;
                    height: 0.1rem;
                    background-color: $primary-dark-gray-2;
                }

                &::after {
                    height: 0.2rem;
                    background-color: $primary-light-gray-1;
                    transform: scaleX(0);
                    transform-origin: center;
                    transition: var(--hover-transition);
                }

                &:hover::after {
                    transform: scaleX(1);
                }
            }
        }

        .error-banner-illustration {
            max-width: 40%;
            height: auto;  
            margin-bottom: var(--margin-large);

            @media screen and (max-width: $bp-mobile) {
                width: 80%;
            }
        }
    }
}