@import '../../../scss/variables';
@import '../../../scss/mixins';

.general-error {
    width: 100%;
    height: auto;
    margin: var(--margin-medium) 0;
    padding: var(--general-padding-small);
    background-color: $secondary-dark-gray-1;

    &-inner {
        width: 100%;
        @include flex-setup($flex-flow: row, $align-items: center, $justify-content: flex-start);

        .link-label {
            text-transform: uppercase;

            .label {
                margin-left: 1rem;
                text-transform: none;
            }
        }
    }
}