@import '../../../scss/variables';
@import '../../../scss/mixins';

.person-card {
    position: relative;
    height: 100%;
    @include flex-setup($flex-flow: column);
    background-color: $primary-dark-gray-3;
    transition: var(--hover-transition);

    &:hover {
        box-shadow: 0.5rem 0.5rem 1rem rgba(0,0,0,0.4);
    }

    &-main{
        height: 100%;
        @include flex-setup($flex-flow: column, $align-items: center, $justify-content: center);
        padding: var(--general-padding-small);
        text-align: center;
        z-index: 5;

        .profile-image {
            width: 20rem;
            height: 20rem;
            border-radius: 50%;
            margin-bottom: var(--margin-medium);
            background-color:  $primary-dark-gray-2;
            overflow: hidden;

            .background-image {
                margin-top: 2.5rem;
            }
        }

        .person-name {
            margin-bottom: 1rem;
            text-align: center;

            @media screen and (max-width: $bp-large) {
                font-size: 1.5vw;
            }

            @media screen and (max-width: $bp-mobile) {
                font-size: 4vw;
            }
        }

        .paragraph {
            margin-bottom: var(--margin-small);
            color: $primary-dark-gray-2;
        }

        .contact-group {
            width: 100%;
            @include flex-setup($flex-flow: column, $align-items: center, $justify-content: flex-start);
            text-align: center;

            .contact-group-link {
                position: relative;
                margin-bottom: 1rem;

                @media screen and (max-width: $bp-mobile) {
                    font-size: 1.8rem;
                }

                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 0.1rem;
                    width: 100%;
                    transform: scaleX(0);
                    transform-origin: left;
                    background-color: $primary-light-gray-1;
                    transition: var(--hover-transition);
                }

                &:hover::after {
                    transform: scaleX(1);
                }

                &:last-child {
                    letter-spacing: 0.35rem;
                }
            }
        }

        .button-primary .button-primary-label {
            font-size: 1.6rem;
        }
    }

    &-description {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color:  $primary-dark-gray-2;
        z-index: 10;
        transform: translateY(100%);
        padding: var(--general-padding-small);
        transition: 0.5s ease-in-out;

        &.active {
            transform: translateY(0);
        }

        &-inner {
            height: 100%;
            @include flex-setup($flex-flow: column, $align-items: center, $justify-content: center);

            .description-center {
                width: 100%;
                margin-bottom: var(--margin-medium);
                text-align: center;
            }

            .description-group {
                @include flex-setup($flex-flow: row, $align-items: center, $justify-content: flex-start);

                .description-label {
                    margin-right: 1.5rem;
                }
            }

            .button-primary {
                margin-top: var(--margin-medium);
            }
        }
    }
}