@import '../../../scss/variables';
@import '../../../scss/mixins';

.student-neighbors-section {
    width: 100%;

    .student-neighbors-heading-wrapper {
        margin-bottom: var(--margin-medium);
    }

    .student-accommodation-neighbors {
        min-width: 100%;
        @include flex-setup($flex-flow: column, $align-items: center, $justify-content: flex-start);
    
        .dashboard-accommodate-slider {
            width: 100%;
            height: 60rem;
            @include flex-setup($flex-flow: column, $align-items: center, $justify-content: flex-start);
            
            .swiper-container {
                height: 60rem;
                display: grid;
                grid-auto-flow: column;
                width: 100%;
        
                .swiper-slide {
                    height: 100%;
                    height: 60rem;
                }
            }

            .showcase-prev-button {
                position: absolute;
                top: 50%;
                left: 0%;
                transform: translateY(-50%);
                z-index: 100;
            }

            .showcase-next-button {
                position: absolute;
                top: 50%;
                right: 0%;
                transform: translateY(-50%);
                z-index: 100;
            }

            .showcase-prev-button,
            .showcase-next-button {
                width: 7.5rem;
                height: 7.5rem;
                background-color: rgba(0,0,0,0.6);
                border-radius: 50%;
                opacity: 1;
                visibility: visible;
                transition: var(--hover-transition);

                @media screen and (max-width: $desktop-utility-bp-medium) {
                    width: 6.5rem;
                    height: 6.5rem;
                    background-color: rgba(0,0,0,0.9);
                }

                &:disabled {
                    opacity: 0;
                    visibility: hidden;
                }
            }
        }
    }
}

